.card__container {
    width: 100%;
}
.default-card .card-img-top{
    background-color: #F2F1F3FF;
    width: 100%;
    height: 200px;
}
.default-card h3 {
    width: 150px;
    height: 30px;
    background-color: #F2F1F3FF;
}